<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="./css/main2.css" rel="stylesheet" />
    <title>Adicionar Itens</title>
</head>
<body>
    <div class="v124_2">
        <div class="v124_3">
            <div class="v124_4"></div>
            <div class="v124_5"></div>
        </div>
        <div class="v57_752"></div>
    
        <div class="v124_199">
            <input type="text"class="search-txt" placeholder="Buscar...">
        </div>
        <div class="v124_210">
            <input type="text"class="search-txt" placeholder="Editora...">
        </div>
        <div class="v124_216">
            <input type="text"class="search-txt" placeholder="AA/AA/AA...">
        </div>
        <div class="v124_226">
            <input type="text"class="search-txt" placeholder="Preço...">
        </div>
        <div class="v124_224">
            <input type="text"class="search-txt" placeholder="Pagina...">
        </div>
        <div class="v124_220">
            <input type="text"class="search-txt" placeholder="Mês...">
        </div>
        <div class="v124_218">
            <input type="text"class="search-txt" placeholder="Buscar...">
        </div>
        <div class="v124_207">
            <input type="text"class="search-txt" placeholder="Descrição...">
        </div>
        <div class="v124_201">
            <input type="text"class="search-txt" placeholder="Titulo...">
        </div>
        <div class="v124_205">
            <input type="text"class="search-txt" placeholder="Autor...">
        </div>
        <div class="v124_133">Titulo</div>
            
        </div>
        <div class="v124_154">
            <span class="v124_155">Data de Publicação</span>
        </div>
        <div class="v124_188">
            <div class="v124_189">
                <div class="v124_190"></div>
            </div>
            <span class="v124_191">Imagem da Capa</span>
        </div>
        <div class="v124_194">
            <span class="v124_195">Enviar</span>
        </div>
        <span class="v124_198">Seleção de Coleção</span>
        <span class="v124_203">Autor</span>
        <span class="v124_204">Descrição</span>
        <span class="v124_209">Editora</span>
        <span class="v124_212">Ano</span>
        <span class="v124_214">Mês</span>
        <span class="v124_215">Dia</span>
        <span class="v124_222">Páginas</span>
        <span class="v124_223">Preço</span>
        
        
    </div>
</body>
</html>
